html, body, #contenedor {

    height: 100%;
}

body {
  background-color: #C5D1E6;
  margin: 0;
}

p {
    margin: 0;
    padding: 0;
  }

a, a:visited {
text-decoration: none;
color: black;
}





  body div {
      width: 100%;
      height: 100%;

  }

  #principal {
    background-color: #546075;
  }

  nav, footer {
      background-color: #585D66;
  }

  #Noticias article {

    background-color: #A9C9FF;
  }

  #PanelDerecho, #PanelIzquierdo {
    display: none !important;
    width: 15%;
    height: 99%;
  }

  ul {
    list-style: none;
  }

  footer {
    height: 5%;

  }

  footer p {

  text-align: center;
   margin-left: auto;
   margin-right: auto;

  }

  #principal {
      height: 85%;
      width: 100%;
      overflow: auto;
  }

  .contenido {
    width: 70%;
    height: 95%;
  }

  #divFORM {
    width: 20%;

  }

@media (min-width: 900px) {

    header {

        width: 100%;
        height: 10%;
    }

    nav {
        overflow: auto;
    }

    #divIMG {
      float: left;
      width: 20%;
    }

    #divUL {
      width: 20%;
      float: left;
    }

    #divUL ul li {
        display: inline;
    }

    #divFORM {

      float: right;
    }

    #PanelIzquierdo{
      display: block !important;
      float: left;
      width: 15%;
      height: 99%;
    }

    #PanelIzquierdo img {

      width: 100%;
      height: 100%;
    }

    #Noticias {
      float: left;
      width: 70%;
      height: 99%;

    }

    #Noticias article {
      margin-left: auto;
      margin-right: auto;
      height: 30%;
      width: 80%;
      overflow: hidden;
    }

    article figure {
      width: 20%;
      height: 95%;
      float: left;
    }

    .contenido {
      float: right;
    }

    #PanelDerecho {
      display: block !important;
      float: right;

    }

    #PanelDerecho img {
      width: 100%;
      height: 100%;
    }


  }

  @media not all and (min-width: 430px) {

    #divIMG {
      float: right;
    }

    form , #divUL ul li {

      display: list-item;
      list-style: none;
    }



}
