body {
  margin: 0%;
}

.caja {
  background-image: url(cthulhu.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 80px;
  width: 80px;
}

.linear {
  transition: margin-left 2s cubic-bezier(0, 0, 1, 1);
}

.ease-in {
  transition: margin-left 2s cubic-bezier(.42, 0, 1, 1);
}

.ease-out {
  transition: margin-left 2s cubic-bezier(0, 0, .58, 1);
}

.ease {
  transition: margin-left 2s cubic-bezier(.17, .67, .83, .67);
}

.ease-in-out {
  transition: margin-left 2s cubic-bezier(.42, 0, .58, 1);
}

.transicion {
  margin-left: 92%;
}
