@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(214, 97, 43, 1) 38%, rgba(0, 212, 255, 1) 100%);
}

.App {
  text-align: center;
}

.cabecera {

  width: 80%;
/*   background: rgb(238,85,34);
  background: linear-gradient(180deg, rgba(238,85,34,1) 1%, rgba(210,214,43,1) 100%, rgba(0,212,255,1) 100%);  */
  min-height: 15vh;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-left: auto;
  margin-right: auto;
  border: 0px solid #000000;
  border-radius: 28px 28px 28px 28px;
  font-family: Pokemon;
  color: yellow;
  text-shadow: rgb(0, 72, 154) 3px 0px 0px, rgb(0, 72, 154) 2.83487px 0.981584px 0px, rgb(0, 72, 154) 2.35766px 1.85511px 0px, rgb(0, 72, 154) 1.62091px 2.52441px 0px, rgb(0, 72, 154) 0.705713px 2.91581px 0px, rgb(0, 72, 154) -0.287171px 2.98622px 0px, rgb(0, 72, 154) -1.24844px 2.72789px 0px, rgb(0, 72, 154) -2.07227px 2.16926px 0px, rgb(0, 72, 154) -2.66798px 1.37182px 0px, rgb(0, 72, 154) -2.96998px 0.42336px 0px, rgb(0, 72, 154) -2.94502px -0.571704px 0px, rgb(0, 72, 154) -2.59586px -1.50383px 0px, rgb(0, 72, 154) -1.96093px -2.27041px 0px, rgb(0, 72, 154) -1.11013px -2.78704px 0px, rgb(0, 72, 154) -0.137119px -2.99686px 0px, rgb(0, 72, 154) 0.850987px -2.87677px 0px, rgb(0, 72, 154) 1.74541px -2.43999px 0px, rgb(0, 72, 154) 2.44769px -1.73459px 0px, rgb(0, 72, 154) 2.88051px -0.838247px 0px;
  font-size: 28px;
}

.contenedor {

  width: 80%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.cartas {
  border: 0px solid #000000;
  background-color:	#D6C169;
  border-radius: 28px 28px 28px 28px;
  border: solid 1px black;
}

.carta {
  background-color: gray;
  z-index: 80;
  width: 700px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.carta img {
  background-color: pink;
}

.cerrarMapa {
  float: right;
  position: relative;
  background-color: black;
  color: white;
  height: 35px;
  width: 35px;
  z-index: 99 !important;
}

.cartaHead div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-content: center;
}

.cartaBody {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  align-content: center;
}

.divHabilidades {
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.divPuntos {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

}


.divEstadisticas {
  display: flex;
  flex-direction: column-reverse;
}