.App {
  text-align: center;
}

.cabecera {
  width: 80%;
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.contenedor {

  width: 80%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.cartas {
  border: solid 1px black;
}

.carta {
  background-color: gray;
  z-index: 80;
  width: 700px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.cerrarMapa {
  float: right;
  position: relative;
  background-color: black;
  color: white;
  height: 35px;
  width: 35px;
  z-index: 99 !important;
}

.cartaHead div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-content: center;
}

.cartaBody {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  align-content: center;
}

.divHabilidades {
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.divHabilidades div {}

.divPuntos {

  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

}


.divEstadisticas {
  /* background-color: aqua;
  border: salmon 1px solid;   */
  display: flex;
  flex-direction: column-reverse;
} 