:root {
    --main-bg-color: darkgray;
    --a-color: black;
}

body {
    background-color: var(--main-bg-color);

}


h1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 60px;

}

header{
    height: 50%;
    widows: 50%;

}

nav{

    margin-left: auto;
    margin-right: 25%;
    width: 60%;
    height: 50%;


}

nav ul {

    list-style: none;

}

ul li {

    margin-bottom: 15%;
    margin-left: 15%;
    display: inline-block;
    width: 14%;
    text-align: left;

}



a, a:visited {
    font-size: 25px;
    text-decoration: none;
    color: var(--a-color);
}

a[rel="next"]::before  {
  content: url(img/baseline_control_point_black_18dp.png);
}

a[rel="tag"]::before  {
  content: url(img/baseline_shopping_cart_black_18dp.png);
}

a[rel="bookmark"]::before  {
  content: url(img/baseline_star_black_18dp.png);
}

a[rel="help"]::before  {
  content: url(img/baseline_picture_as_pdf_black_18dp.png);
}

a[rel="search"]::before {
  content: url(img/baseline_image_search_black_18dp.png);
}

a[rel="nofollow"]::before  {
  content: url(img/baseline_security_black_18dp.png);
}
