/*
CSS Base for the Miskatonic Herald
*/

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/*
* CSS for body
*/

body {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    /*background-color:#323232;*/
    background-image: url("https://picsum.photos/1600/900");
    font-family: 'OuroborosRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color: #ffffff;
}


/*
* CSS for items
*/

content {

    /*
    *   Borde redondeado
    */
    border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;

    /*
    *   Tamaño del div
    */
    height: 95%;
    width: 75%;

    /*
    *   Añadido color transparente
    */
    background-color: rgba(180, 190, 192, 0.86);

    display: grid;
}

items {

    display: grid;
    justify-self: center;
    grid-template-rows: auto;
    row-gap: 10px;
    width: 95%;
    height: 90%;
    /*
     * Fragmentos perdidos
     * ^(;,;)^
     */
}

item {
    /*
     * Fragmentos perdidos
     * ^(;,;)^
     */
    display: grid;
    justify-content: center;
    text-align: center;
}

item h1 {

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*
* CSS for body
*/

button {


    height: 60px;
    width: 450px;
    font-size: 30px;
    color: white;
    background-color: #A87FB2;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid white;
    font-family: 'OuroborosRegular';
    transition: 0.07s;
    /*
     * Fragmentos perdidos
     * ^(;,;)^
     */
}

button:hover {

    /*
     * Fragmentos perdidos
     * ^(;,;)^
     */
}

button:active {
  /*
   * Fragmentos perdidos
   * ^(;,;)^
   */
}


/*
* CSS for steps
* - Includes the opacity for the
*   animation that makes this more
*   dinamyc, but is only a simple
*   GUI.
*/

steps {

    /*
    *   Añadido grid de 3 columnas y filas automáticas
    *   con separación entre la fila
    */

    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
    /*
     * Fragmentos perdidos
     * ^(;,;)^
     */
}

/*
* CSS for all the steps
* with class (estabaEscondido)
* that turns the element visible
* with a transition.
*/
steps * {


    text-align: left;

    /*
     * Fragmentos perdidos
     * ^(;,;)^
     */
}

.estabaEscondido {

    /*
     * Fragmentos perdidos
     * ^(;,;)^
     */
}


/*Progress*/
/*
* CSS for ProgressBars
*/
progress {

    justify-self: start;
    height: 100%;
    width: 0%;
    transition: width 0.2s linear;

    border: 0px solid white;

}

progress[value]::-webkit-progress-value {
    background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

     border: 2px solid white;
}


finalmsg {

    color: #E23A3A;
    text-shadow: 0px 0px 21px rgba(168, 62, 168, 1);
    animation: neon 4s ease-in-out infinite both;

}

@keyframes neon {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}
