/*
CSS Base for the Miskatonic Herald
*/

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/*
* CSS for body
*/

body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    
    /*background-color:#323232;*/
    background-image:url("https://picsum.photos/1600/900");
    font-family: 'OuroborosRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color:#ffffff;
}


/*
* CSS for items
*/

content {

    /*
    *   Borde redondeado
    */
    border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;
    
    /*
    *   Tamaño del div
    */
    height: 95%;
    width: 80%;

    /*
    *   Añadido color transparente
    */
    background-color: rgba(180, 190, 192, 0.86);

}

items{

   
    

    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
    
}

item {
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
     display: grid;
     text-align: center;
}



/*
* CSS for body
*/

button{
    
    align-self: center;

    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

button:hover {
    
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

button:active {
    
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}


/*
* CSS for steps
* - Includes the opacity for the 
*   animation that makes this more
*   dinamyc, but is only a simple
*   GUI.
*/

steps{
    
    /*
    *   Añadido grid de 3 columnas y filas automáticas
    *   con separación entre la fila
    */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 50px;
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

/*
* CSS for all the steps
* with class (estabaEscondido)
* that turns the element visible
* with a transition.
*/
steps * {


    text-align: left;
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

.estabaEscondido{
   
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}


/*Progress*/
/*
* CSS for ProgressBars
*/
progress{

    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}



finalmsg{

    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

@keyframes neon {
 
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

