body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

#_contenedor {
    display: grid;
    grid-template-columns: repeat(23, auto);
    grid-template-rows: repeat(16, 45px);
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.pasillo, .vacio, .borde, .puerta, .rectangulo, .oculto, .llave, .pergamino, .sarcofago, .urna, .personaje, .sueloPisado, .momia, .mamadisimo {
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

.pasillo, .sueloPisado {
    display: grid;
}

.pasillo {
    justify-self: stretch;
    background-image: url(img/pasillo.png);
    z-index: -1;
}

.sueloPisado {
    background-image: url(img/pisado.png);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.borde {
    background-image: url(img/borde.png);
}

.rectangulo {
    background-image: url(img/caja.png);
}

.oculto {
    background-image: url(img/caja.png) !important;
    z-index: 30;
    }

.vacio {
    background-image: url(img/vacio.png);
    z-index: -1;
}

.llave {
    background-image: url(img/llave.png);
}

.sarcofago {
    background-image: url(img/sarcofago.png);
}

.pergamino {
    background-image: url(img/pergamino.png);
}

.urna {
    background-image: url(img/urna.png);
}

.puerta {
    background-image: url(img/inicio.png) !important;
    z-index: 29;
}

.personaje {
    background-image: url(img/personaje.png);
    z-index: 30;
    height: 100%;
    width: 100%;
    margin: 0;
}

.momia {
    place-self: center;
    background-image: url(img/momia_Beta.png);
    height: 50%;
    width: 50%;
    z-index: 30;
}

.mamadisimo {

    background-image: url(img/mamadisimo.png) !important;
    z-index: 31;
    height: 100%;
    width: 100%;
    margin: 0;
}
